<?xml version="1.0" encoding="UTF-8"?>

<Configuration monitorInterval="60">
	<properties>
		<property name="pattern">%X{traceId} %d %-5p [%t] %C{2} (%F:%L) (%sequenceNumber) - %m%n</property>
	</properties>

	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<!-- <JsonLayout compact="true" eventEol="true" includeStacktrace="false" properties="true"/> -->
			<PatternLayout pattern="${pattern}" />
		</Console>
		
	</Appenders>

	<Loggers>
		<Root level="TRACE">
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>
</Configuration>